.buttonStyle {
    display: inline-block;

    border-radius: 5px;
    padding: 0.5rem;

    background-color: #649E71;

    text-decoration: none;
    color: white;
}

.buttonStyle:hover,
.buttonStyle:focus {
    background-color: #dfdfdf;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.04),-10px 0 20px 0px rgba(0,0,0,0.04);
    color: #649E71;
}

.buttonStyle svg path {
    fill: white;
}

.buttonStyle:hover svg path {
    fill: #649E71;
}

.buttonStyle svg {
    position: relative;

    top: 2px;

    padding-right: 1.5rem;
}