.row {
    display: flex;
    flex-direction: column;
}

.row > div {
    flex-basis: 100%
}

.isHalf {
    display: flex;
}

.isThird {
    display: flex;
}

@media (min-width: 850px) {
    .row {
        flex-direction: row;
    }

    .isHalf {
        max-width: 50%;
    }
}