.window {
    border-radius: 10px;
    margin-bottom: 1rem;
}

.message,
.email,
.name {
    display: inline-block;

    width: 70%;

    background-color: #282C34;
    font-family: 'IBM Plex Mono', monospace;

    color: #86909C;
    border: none;


    margin-left: auto;
    margin-right: auto;

    padding: 0.5rem;
}

.buttonStyle {
    background-color: #626A73;
    color: #282C34;

    border: none;
    border-radius: 5px;

    padding: 0.5rem;

    text-decoration: none;
}

.buttonStyle:hover,
.buttonStyle:focus {
    color: #649E71;
    background-color: #dfdfdf;
}

.quoteStyle {
    color: #282C34;
}

@media (min-width: 850px) {
    .quoteStyle {
        color: #98C379;
    }
}