.icon svg {
    margin-right: 1.3rem;
}

.icon svg path {
    fill: black;
}

.icon:hover svg path {
    fill: #626A73;
}

.footerGroup {
    display: flex;
    flex-direction: row;
}

.spacer {
    flex-grow: 1;
}