.navBar {
    background: #4240CC;
}

.navLink {
    display: flex;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;

    margin-bottom: .75rem;

    border-radius: 500px;

    color: white;
    text-decoration: none;
    transition: background .2s ease, color .2s ease;
}

.navLink:hover,
.navLink:focus {
    background: #DFD9F5;
    color: #4240CC;
}

.activeNavLink {
    background: #4b49f9;
    color: #DFD9F5;
}

.menuIcon {
    max-height: 1.5rem;
    fill: white;
}

.collapsibleMenu {
    overflow-y: hidden;
}

.branding {
    display: flex;
}

.branding > a,
.branding > svg {
    margin-top: .75rem;
}

.spacer {
    flex-grow: 1;
}

@media (min-width: 530px) {
    .navBar > div {
        display: flex;
    }

    .navLink {
        display: inline-block;

        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .25rem;
        padding-bottom: .25rem;

        margin-top: .75rem;
        margin-bottom: .75rem;

        border-radius: 500px;

        color: white;
        text-decoration: none;
        transition: background .2s ease, color .2s ease;

        visibility: visible;
    }

    .menuIcon {
        display: none;
    }

    .branding {
        display: inline-block;
    }

    .collapsibleMenu {
        display: inline-block;
        max-height: inherit !important;
    }
}