.window {
    min-height: 175px;
    background-color: #282C34;

    margin-top: 1rem;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.04),-10px 0 20px 0px rgba(0,0,0,0.04);
}

.window * {
    font-size: 0.9em;
}

.window span {
    font-family: 'IBM Plex Mono', monospace;
}

.windowContent {
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.topBar {
    display: flex;
    background-color: #2C3039;
    min-height: 30px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttonGroup {
    display: flex;

    margin-left: .75rem;
    margin-top: .6rem;

    padding-bottom: .5rem;
}

.closeButton,
.minimizeButton,
.fullscreenButton {
    margin-right: .45rem;
    height: 15px;
    width: 15px;
    border-radius: 100px;
}

.closeButton {
    background-color: #FE6159;
}

.minimizeButton {
    background-color: #FFBF2F;
}

.fullscreenButton {
    background-color: #29CE42;
}

.windowName {
    flex-grow: 1;
    text-align: center;
    margin-top: .5rem;
    padding-bottom: .25rem;
    color: #61646B;
}

@media (min-width: 480px) {
    .window * {
        font-size: 1em;
    }
}