.teaserBox {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-right: 2rem;
    margin-bottom: 3rem;

    border-radius: 5px;

    background-color: #ffffff;
}

.teaserLink {
    text-decoration: none;
    color: #000000;
}

.teaserLink:hover,
.teaserLink:focus {
    text-decoration: underline;
}

.teaserBox:hover,
.teaserBox:focus {
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.04),-10px 0 20px 0px rgba(0,0,0,0.04);
}

.teaserLink h2 {
    margin: 0;
}

.teaserContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.teaserImageWrapper {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}