.hero {
    min-height: 175px;
    background-color: #4240CC;
    margin-bottom: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
}

.header h3 {
    color: white;
    font-size: 1.5em;
}

.cardWrapper article {
    background: #282C34;
    color: white;
    flex-direction: column;
}

.cardWrapper article h2 {
    color: white;
    text-decoration: none;
}

.cardWrapper article a:hover {
    text-decoration: none;
}

@media (min-width: 610px) {
    .cardWrapper article {
        flex-direction: row;
    }

    .cardWrapper article > div:first-child {
        max-width: 180px;
    }
}