.teaserLink {
    text-decoration: none;
    color: #000000;
}

.teaserLink:hover,
.teaserLink:focus {
    text-decoration: underline;
}

.teaserBox {
    margin-bottom: 3rem;

    border-radius: 5px;

    background-color: #ffffff;
}

.teaserBox:hover,
.teaserBox:focus {
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.04),-10px 0 20px 0px rgba(0,0,0,0.04);
}

.teaserContent {
    padding: 1rem;
}

.teaserImageWrapper {
    width: 100%
}

@media (min-width: 530px) {
    .teaserBox {
        display: flex;
    }

    .teaserContent {
        padding: 0;
    }

    .teaserImageWrapper {
        width: inherit;
    }

    .teaserImage {
        width: 150px;

        margin-right: 2rem;
    }
}