.banner {
    padding-top: 2rem;
    min-height: 250px;
    background-color: #F2F2F2;
    box-shadow: 0 -20px 20px #00000052;
}

.text {
    flex-grow: 1;
    text-align: center;
}

.buttonWrapper {
    display: flex;

    justify-content: center;
    margin-bottom: 2rem;
}

.banner article {
    margin-bottom: 1rem;
}

.button {
    display: flex;

    width: 25%;


    border-radius: 5px;
    padding: 0.5rem;

    background-color: #649E71;

    text-decoration: none;
    color: white;
}

.button:hover,
.button:focus {
    background-color: #dfdfdf;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.04),-10px 0 20px 0px rgba(0,0,0,0.04);
    color: #649E71;
}

.button svg {
    fill: white;
    margin-top: .1rem;
    margin-right: 2rem;
}

.button:hover svg path {
    fill: #649E71;
}